{% extends "base.html" %}

{% block content %}





<br>

<div class="container mx-auto">
   <form method="GET" action="">
      <div class="row">
        <div class="col">
          <input type="text"  name="q" class="form-control" placeholder="Search Your Urls" value='{{ request.GET.q }}'>
        </div>
        <div class="col">
          <input type="submit"  class="btn btn-outline-primary" >
        </div>
      </div>
    </form>
</div>

<br>





{% if qs  %}


<table class="table">
	

  <thead class="thead-dark">

    
      <th scope="col">Sr No.</th>
      <th scope="col">Short Url</th>
      <th scope="col">Created at</th>
      <th scope="col">Long Url</th>
      <th scope="col">View Details</th>
  

    </tr>  
  </thead>
  
  <tbody>
  	<tr>{% for obj in qs %}
    <tr>
      <th scope="row"> {{ forloop.counter }} </th>
      <th scope="row">{{obj.get_short_url}}</th>
      <th scope="row">{{obj.created}}</th>
      <th scope="row">{{obj.url_field|truncatechars:40}}</th>
      <th scope="row"> <a href="/tableview/{{obj.id}}" class="btn btn-primary">View Details</a></th>
   
<!--       <td>Otto</td>
      <td>@mdo</td> -->
    </tr>
    
  {%  endfor %}

  </tbody>

</table>


{% else %}
<div class="container mx-auto">

<div class="alert alert-info mx-auto" role="alert">
  <h2> No Urls Found</h2>
</div>
</div>


{% endif %}



<div class="col-md-3 mx-auto mx-auto">

<div class="pagination">
    <span class="step-links">
        {% if qs.has_previous %}
            <a href="?page={{ qs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ qs.number }} of {{ qs.paginator.num_pages }}.
        </span>

        {% if qs.has_next %}
            <a href="?page={{ qs.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}